# =========================
# Python
# =========================
backend/venv/
backend/__pycache__/
backend/*.pyc
**/__pycache__/

# Environment
backend/.env

# =========================
# Node
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log